<div id="component-picker-container">
  <div id="component-picker">
    <h2 class="component-picker-heading">Components</h2>

    <%- @component_list.each do |category, component_list| %>
      <h3 class="list-heading"><%= category %></h3>
      <ul class="list-group">
        <%- component_list.each do |component, attrs| %>
          <li class="draggable list-group-item" id="<%= attrs[:category] %>-component" data-tag="<%= attrs[:tag] %>" data-versions="<%= attrs[:versions].join(",") %>" data-path="<%= assign_component_path %>"><%= component %></li>
        <%- end %>
      </ul>
    <%- end %>
  </div>

  <div id="component-container">
    <div class="provider-container">
      <div class="provider">
        <%= label_tag  "virt-provider", "Virtual Provider:" %>
        <%= select_tag "virt-provider",
                       options_for_select(@compute_providers.keys, selected: @compute_providers.keys[0]),
                       :id                 => "provider",
                       :'data-change-path' => change_provider_path,
                       :'data-selected'    => @compute_providers.keys[0] %>

        <button type="button"
                class="btn btn-primary btn-xs"
                data-info-path="<%= get_provider_info_path %>"
                id="show-provider-specs">Specs</button>
      </div>
    </div>

    <div class="component-container-heading-summary">
      <div id="component-container-heading-container">
        <div class="component-container-heading">Data Center Build Manifest</div>
        <button type="button" class="btn btn-danger btn-xs" disabled="disabled" id="manifest-save-state">
          <span class="glyphicon glyphicon-info-sign"></span> Not Saved
        </button>
      </div>

      <div class="build-options">
        <button class="btn btn-primary btn-xs" id="generate-build-summary-json">Summary (JSON)</button>
        <button class="btn btn-primary btn-xs" id="save-manifest" data-save-path="<%= new_manifests_path %>">Save</button>
      </div>
    </div>

    <div class="panel panel-default">
      <%= form_tag(build_summary_path, method: :post, remote: true, id: "dc-build-form") do %>
        <%= hidden_field_tag "provider", @compute_providers.keys[0] %>

        <%- @category_list.each do |category, attrs| %>
          <div class="panel-heading" id="<%= attrs[:category] %>-heading">
            <%= category %>
            <span class="badge component-count">0</span>
          </div>

          <div class="component-list" id="<%= attrs[:category] %>-container"></div>
        <%- end %>
      <%- end %>
    </div>
  </div>
</div>
