<div class="manifest-listing-container">
  <div class="manifest-listing-heading">
    <h2>Manifest Listing</h2>
    <p>Below are saved manfiests that can be used to launch a virtual data center.</p>
  </div>

  <div id="manifest-listing">
    <%- if @manifests.blank? %>
      <p class="no-manifest-text">
        No manifests yet - go ahead and <%= link_to "Create", build_path %> one.
      </p>
    <%- else %>
      <table class="table table-hover" id="manifest-list">
        <thead>
          <tr>
            <th class="manifest-name">Name</th>
            <th class="manifest-vplatform">Virtual Platform</th>
            <th class="manifest-vresources"># Resources</th>
            <th class="manifest-monthly-cost">Monthly Cost</th>
            <th class="manifest-yearly-cost">Yearly Cost</th>
            <th class="manifest-created">Created</th>
          </tr>
        </thead>

        <tbody>
          <%- @manifests.each do |manifest| %>
            <tr>
              <td class="manifest-name"><%= link_to manifest.name, edit_manifest_path(manifest) %></td>
              <td class="manifest-vplatform"><%= manifest.vplatform %></td>
              <td class="manifest-vresources"><%= manifest.num_vresources %></td>
              <td class="manifest-monthly-cost">$ <%= manifest.monthly_cost %></td>
              <td class="manifest-yearly-cost">$ <%= manifest.yearly_cost %></td>
              <td class="manifest-created"><%= manifest.created_at.to_formatted_s(:long) %></td>
            </tr>
          <%- end %>
        </tbody>
      <%- end %>
    </table>
  </div>
</div>
